{port_env, [{"darwin|freebsd|openbsd", "LDFLAGS", "$LDFLAGS -liconv"},
            {"freebsd|openbsd", "CFLAGS", "$CFLAGS -I/usr/local/include"},
            {"freebsd|openbsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib"}]}.

{port_specs, [{"priv/eiconv_nif.so", ["c_src/*.c"]}]}.

{profiles,
 [
  {test,
   [
    {cover_enabled, true},
    {cover_print_enabled, true},
    {plugins, [pc]},
    {artifacts, ["priv/eiconv_nif.so"]},
    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }
    ]}
   ]
  }
]}.
